/* pages/cart/index.wxss */
.container {
  height: 30vh;
}
.container:nth-child(n) {
  background-color: aqua;
}
.container:nth-child(2n) {
  background-color: cadetblue;
}
.container:nth-child(3n) {
  background-color: chocolate;
}
.container:nth-child(4n) {
  background-color: royalblue;
}
