/* pages/profile/index.wxss */
.box {
  text-align: center;
  .btn {
    display: inline-block;
    font-size: 0;
    padding: 0;
    background-color: #ffffff;
    // border: none;
    border-radius: 50%;
  }
  .van-image__img {
    border-radius: 50%;
  }
  .input {
    border: 1px solid #179c16;
    margin: 10rpx 30rpx;
    border-radius: 10rpx;
  }
}
