/**app.wxss**/
@import "./iconfont/iconfont.scss";

// 通用样式
page {
  background-color: #230312;
  color: #a78d9b;
}
.wx-checkbox-input {
  width: 24rpx !important;
  height: 24rpx !important;
  border-radius: 50% !important;
  border: 1px solid #fda007 !important;
}
wx-checkbox .wx-checkbox-input.wx-checkbox-input-checked:before {
  font-size: 24rpx;
}
