/* pages/cate/index.wxss */
.scroll-y {
  height: 50vh;
  background-color: aquamarine;
  .view-list{
    height: 12.5vh;
    &:nth-child(odd){
      background-color: rosybrown;
    }
    &:nth-child(even){
      background-color: royalblue;
    }
  }
}
